.flex {
	display: flex;
	flex-wrap: wrap;
}

.a-start {
	align-items: flex-start;
}

.a-center {
	align-items: center;
}

.j-between {
	justify-content: space-between;
}

.j-around {
	justify-content: space-around;
}

.j-center {
	justify-content: center;
}

.j-f-start {
	justify-content: flex-start;
}

.j-f-end {
	justify-content: flex-end;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.header {
	width: 100%;
	padding: 20px 0;
	background-color: #f8ede4;
}

.header .header-left .logo .fa-bars {
	font-size: 35px;
	display: none;
}

.header .header-right {
	width: 60%;
}

.header .header-right .search {
	position: relative;
	width: 40%;
}

.header .header-right .search input {
	font-size: 14px;
	font-weight: 200;
	width: 100%;
	padding: 9px 40px 9px 20px;
	color: black;
	border-radius: 20px;
	background: #eed0b9;
	box-shadow: 0 0 0 0 #fff inset;
}

.header .header-right .search input::-webkit-input-placeholder {
	color: black;
}

.header .header-right .search .fa-search {
	position: absolute;
	top: 30%;
	right: 15px;
	cursor: pointer;
	transition: .2s all;
	color: black;
}

.header .header-right .search .fa-search:hover {
	transition: .2s all;
	color: #c8a288;
}

.header .header-right .fa-user,
.header .header-right .fa-shopping-cart,
.header .header-right .fa-heart {
	margin-right: 5px;
}

.header .header-right .login,
.header .header-right .cart,
.header .header-right .like {
	cursor: pointer;
}

.header .header-right .login a,
.header .header-right .cart a,
.header .header-right .like a {
	color: #000;
}

.header .header-right .login:hover i,
.header .header-right .login:hover a,
.header .header-right .cart:hover i,
.header .header-right .cart:hover a,
.header .header-right .like:hover i,
.header .header-right .like:hover a {
	transition: .2s all;
	color: #c8a288;
}

.header-nav {
	padding: 10px;
	background-color: #f8ede4;
}

.header-nav ul li ul li {
	margin-right: 40px;
}

.header-nav ul li ul li a {
	font-size: 22px;
	color: #b85d24;
}

.header-nav ul li ul li:last-child {
	margin-right: 0;
}

.header-nav ul li ul li:hover i,
.header-nav ul li ul li:hover a {
	transition: .5s;
	color: #357e62;
}

@media only screen and (max-width: 1210px) {

.container {
	width: 992px;
	margin: 0 auto;
}

}

@media only screen and (max-width: 1002px) {

.container {
	width: 768px;
	margin: 0 auto;
}

.header .header-right {
	width: 60%;
}

.header .header-right .search {
	width: 60%;
}

.header .header-right .fa-user,
.header .header-right .fa-shopping-cart,
.header .header-right .fa-heart {
	margin-right: 2px;
}

.header .header-right .login,
.header .header-right .cart,
.header .header-right .like {
	font-size: 22px;
}

.header .header-right .login a,
.header .header-right .cart a,
.header .header-right .like a {
	display: none;
}

.header .header-right .login:hover i,
.header .header-right .login:hover a,
.header .header-right .cart:hover i,
.header .header-right .cart:hover a,
.header .header-right .like:hover i,
.header .header-right .like:hover a {
	transition: .2s all;
	color: #c8a288;
}

.header-nav ul li ul li {
	margin-right: 20px;
}

.header-nav ul li ul li a {
	font-size: 18px;
}

}

@media only screen and (max-width: 778px) {

.container {
	width: 576px;
	margin: 0 auto;
}

.header .header-left .logo a {
	display: none;
}

.header .header-left .logo .fa-bars {
	display: block;
	cursor: pointer;
}

.header .header-right {
	width: 90%;
}

.header .header-right .search {
	width: 70%;
}

.header .header-right .fa-user,
.header .header-right .fa-shopping-cart,
.header .header-right .fa-heart {
	margin-right: 2px;
}

.header .header-right .login,
.header .header-right .cart,
.header .header-right .like {
	font-size: 22px;
}

.header .header-right .login a,
.header .header-right .cart a,
.header .header-right .like a {
	display: none;
}

.header .header-right .login:hover i,
.header .header-right .login:hover a,
.header .header-right .cart:hover i,
.header .header-right .cart:hover a,
.header .header-right .like:hover i,
.header .header-right .like:hover a {
	transition: .2s all;
	color: #c8a288;
}

.header-nav ul li ul li {
	display: none;
}

}

@media only screen and (max-width: 587px) {

.container {
	width: 480px;
	margin: 0 auto;
}

}

